<a href="https://colab.research.google.com/github/hasnayen/BEECROWD-Problem-solving/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import numpy as np
from numpy import NaN

In [17]:
data = [[21, 10,NaN, 46], [NaN,32,NaN,47], [22, 33, NaN, NaN], [4, 34, NaN,48], [NaN,35,NaN,49]]
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])
print(df)

      A   B   C     D
0  21.0  10 NaN  46.0
1   NaN  32 NaN  47.0
2  22.0  33 NaN   NaN
3   4.0  34 NaN  48.0
4   NaN  35 NaN  49.0

In [19]:
df1 = df.isnull()
print(df1)

       A      B     C      D
0  False  False  True  False
1   True  False  True  False
2  False  False  True   True
3  False  False  True  False
4   True  False  True  False

In [24]:
null_count = df.isnull().sum()
print(null_count)

A    2
B    0
C    5
D    1
dtype: int64

In [20]:
df2 = df.fillna(method='ffill')
print(df2)

      A   B   C     D
0  21.0  10 NaN  46.0
1  21.0  32 NaN  47.0
2  22.0  33 NaN  47.0
3   4.0  34 NaN  48.0
4   4.0  35 NaN  49.0

<ipython-input-20-acac6f722f35>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df2 = df.fillna(method='ffill')

In [21]:
df3 = df.fillna(method='bfill')
print(df3)

      A   B   C     D
0  21.0  10 NaN  46.0
1  22.0  32 NaN  47.0
2  22.0  33 NaN  48.0
3   4.0  34 NaN  48.0
4   NaN  35 NaN  49.0

<ipython-input-21-24fb58e84dfc>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df3 = df.fillna(method='bfill')

In [22]:
df4 = df.fillna(0)
print(df4)

      A   B    C     D
0  21.0  10  0.0  46.0
1   0.0  32  0.0  47.0
2  22.0  33  0.0   0.0
3   4.0  34  0.0  48.0
4   0.0  35  0.0  49.0